<!-- ******PROMO****** --> 
<section id="promo" class="promo section">  
    <div class="container intro">
        <h2 class="title">Everything you need<br />to get your startup business online</h2>
        <p class="summary">Tempo is a Bootstrap-based HTML5 template designed specifically to help startups promote their products or services.</p>
        <a class="btn btn-cta btn-cta-secondary" href="/about">Learn More</a>
    </div><!--//intro-->
    
    <div class="fixed-container">
        <div class="social text-center">
            <div class="container">
                <span class="line"></span> 
                  
            </div>         
        </div><!--//social-->   
    </div>  
    <!-- <div class="bg-slider-wrapper">
        <div id="bg-slider" class="flexslider bg-slider">
            <ul class="slides">
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
                <li class="slide slide-3"></li>
            </ul>
        </div>
    </div> --><!--//bg-slider-wrapper--> 
</section><!--//promo-->