// // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "font-awesome";
// @import "bootstrap-sprockets";
// @import "bootstrap";

body#dashboard {
  padding-top: 60px;
}

.header .main-nav .nav .nav-item .started a {
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

.navbar-form {
  margin-top: 0px;
}

#header-image {
  padding-left: 0px;
}

// body#location-page {
//   margin-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
// }

// .edit-name {
//   display: inline-block; 
//   font-size: 24px;
// }