<section class="section">  
  <div class="container">

    <!-- <div ng-app="app">
    <div ng-controller="brandsCtrl" ng-init="setup()"> -->
    <!-- {{ 1 + 1 }} -->

    <table class="table table-hover table-responsive">
        <thead>
          <tr>
            <th>ID</th>
            <th>Brand Name</th>
            <th>Total Locations</th>
            <th>Updated at</th>
            <th>Created at</th>
            <th>View</th> 
            <th>Edit</th>
            <th>Delete</th>  
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="brand in brands | filter: searchFilter | orderBy:sortByAttribute:descending">
            <td>{{ brand.id }}</td>
            <td>{{ brand.brand_name }}</td>
            <td>{{ brand.location_count }}</td>
            <td>{{ brand.updated_at }}</td>
            <td>{{ brand.created_at }}</td>
            <td>
              <% url_escaped_href = brand_locations_path('{{ brand.id}}') 
                brand_locations_path = URI::unescape(url_escaped_href)
              %>
              <a ng-href="<%= brand_locations_path %>" class="btn btn-cta-cms-view btn-xs">View</a>
            </td>
            <td>
              <% url_escaped_href = edit_brand_path('{{ brand.id}}') 
                edit_brand_path = URI::unescape(url_escaped_href)
              %>
              <a ng-href="<%= edit_brand_path %>" class="btn btn-cta-cms-view btn-xs">Edit</a>
            </td> 
            <td>
              <%= link_to "Delete", "/brands/{{brand.id}}", method: :delete, class: "btn btn-cta-cms-delete btn-xs", data: {confirm: "Are you sure?"}  %>
            </td>  
          </tr>
        </tbody>
    </table>

  </div>
</section>