<script>
  window.brandId = <%= @locations.first.brand.id unless @locations.first.blank? %>
</script>

<section class="section">  
  <div class="container">

    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th class="hidden-xs">ID</th>
          <th>Location Name</th>
          <th class="hidden-xs hidden-sm">City</th>
          <th class="hidden-xs hidden-sm">State</th>
          <th class="hidden-xs">Updated</th>
          <th class="hidden-xs">Created</th>
          <th>View</th> 
          <th>Edit</th>
          <th>Delete</th>  
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="location in locations | filter: searchFilter | orderBy:sortByAttribute:descending">
          <td class="hidden-xs">{{ location.id }}</td>
          <td>{{ location.business_name }}</td>
          <td class="hidden-xs hidden-sm">{{ location.city }}</td>
          <td class="hidden-xs hidden-sm">{{ location.state }}</td>
          <td class="hidden-xs">{{ location.updated_at }}</td>
          <td class="hidden-xs">{{ location.created_at }}</td>
          <td>
            <div ng-hide="location.slug">
              <a ng-href="http://{{ location.brand_subdomain }}.{{ location.brand_url }}/{{ location.id }}" class="btn btn-cta-cms-view btn-xs">View</a>
            </div>
            <div ng-hide="!location.slug">
              <a ng-href="http://{{ location.brand_subdomain }}.{{ location.brand_url }}/{{ location.slug }}" class="btn btn-cta-cms-view btn-xs">View</a>
            </div>
          </td>
          <td>
            <% url_escaped_href = edit_brand_location_path('{{ location.brand_id }}','{{ location.id }}') 
              edit_brand_location_path = URI::unescape(url_escaped_href)
            %>
            <a ng-href="<%= edit_brand_location_path %>" class="btn btn-cta-cms-view btn-xs">Edit</a>
          </td> 
          <td>
            <%= link_to "Delete", "/brands/{{ location.brand_id }}/locations/{{ location.id }}", method: :delete, class: "btn btn-cta-cms-delete btn-xs", data: {confirm: "Are you sure?"}  %>
          </td>  
        </tr>
      </tbody>
    </table>
  </div>
</section>